@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 750px) {
  .image-logo {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 50%;
  }

  .white-text-profile-card-2 {
    display: flex;
    position: absolute;
    color: black;
    margin: auto;
    top: 50%;
    bottom: 0;
    left: 20%;
    right: 0;
  }
}

.container {
  max-width: 1335px;
}

.col-md-7 {
  background-color: purple;
}

.image-background {
  width: 100%;
  opacity: 50%;
}

.image-logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 10%;
  left: 10%;
  right: 5%;
}

.image-logo-text {
  color: white;
  position: absolute;
  margin: auto;
  top: 55%;
  bottom: 0;
  left: 30%;
  right: 0;
}

.signup-text {
  font-weight: bold;
}

.sign-in-span-text {
  opacity: 50%;
  text-align: justify;
}

.sign-in-span-2-text {
  opacity: 50%;
  text-align: center;
}

.sign-in-button {
  border-color: black;
}

.sign-in-button-1 {
  background-color: purple !important;
}

.reset-text {
  color: purple;
}

.sign-in-button {
  text-align: center;
}

.image-logo-2 {
  width: 90%;
}

.sign-up-button-1 {
  background-color: purple !important;
  color: white;
}

.bg-light {
  background-color: white !important;
}

.jumbotron {
  background-color: white;
}

.header-text {
  opacity: 50%;
  font-size: large;
}

.header-big-text {
  color: purple;
}

.header-image {
  filter: brightness(60%);
}

.now-showing-text {
  color: purple;
}

.view-all-text-1 {
  text-decoration: none;
  color: purple;
}

.view-all-text-1:hover {
  text-decoration: none;
  color: purple;
}

.jumbotron-2 {
  background-color: white !important;
}

.month-button {
  background-color: white;
  color: purple;
  border-color: purple;
  width: 10%;
}

.month-button:hover {
  background-color: purple;
  color: white;
}

.movie-detail-button {
  background-color: white;
  color: purple;
  border-color: purple;
}

.movie-detail-button:hover {
  background-color: purple;
  color: white;
}

.upcoming-movies-span-text {
  opacity: 50%;
}

.join-email-text-1 {
  color: purple;
}

.join-us-button {
  background-color: purple;
  color: white;
}

.join-email-text-2 {
  opacity: 50%;
}

.footer-text {
  opacity: 50%;
}

.profile-picture-size {
  width: 40px;
}

.movie-details-genre-text {
  opacity: 80%;
}

.movie-details-genre-text-1 {
  opacity: 40%;
}

.movie-details-text {
  opacity: 40%;
  text-align: justify;
  line-height: 245%;
}

.showing-big-text {
  text-align: center;
}

.bioskop-text {
  opacity: 50%;
  font-size: 13px;
}

.bioskop-button-1 {
  border-color: purple;
  background-color: purple;
  color: white;
}

.bioskop-button-2 {
  color: purple;
}

.profile-status-1 {
  opacity: 40%;
}

.container-3 {
  background-color: gainsboro;
}

.profile-status-card {
  width: fit-content;
}

.white-text-profile-card {
  display: flex;
  position: absolute;
  color: white;
  margin: auto;
  top: 55%;
  bottom: 0;
  left: 20%;
  right: 0;
}

.white-text-profile-card-2 {
  display: flex;
  position: absolute;
  color: white;
  margin: auto;
  top: 63%;
  bottom: 0;
  left: 20%;
  right: 0;
}

.progress-bar {
  height: 10px;
  width: 25%;
}

.movie-detail-card {
  width: 200px;
}

.update-profile-button {
  background-color: purple;
  color: white;
}

.payment-information-text-1 {
  opacity: 45%;
}

.payment-button {
  border-color: black;
  width: 135px;
}

.payment-offer-button-1 {
  background-color: purple;
  color: white;
  border-color: purple;
}

.payment-offer-button-1:hover {
  color: purple;
  background-color: white;
}

.payment-offer-button-2 {
  color: purple;
  border-color: purple;
}

.payment-offer-button-2:hover {
  color: white;
  background-color: purple;
}
